
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 40px;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .search-content {
    display: inline-block;
  width: 200px; /* Adjust the width as needed */
  margin: 10px; /* Adjust the margin as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  }
  .MyCourses {
    display: inline-block;
    width: 300px; /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-right:400px
  }
  .content{
    margin-top:1000px;
  }
  
  input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  button {    
    background-color: olivedrab;
    color: white;
    top: 0;
    padding: 10px 20px;
    border: none;
    font-size: 22px;
    border-radius: 3px;
    margin: 1rem;
    width: 150px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #section {
    display: flex;
    flex-wrap: wrap;
  }
  